{% extends 'landlord/base.html' %}
{% block content %}
<style>
h3 {
  color: #191970;
  font-weight: bold;
}
</style>
<div class="form-group">
  <a class="badge badge-secondary" href="{% url 'dashboard' %}">Home</a>
    <a class="badge badge-primary" href="{% url 'list-unit' %}">All Units</a>
    {% if obj.confirm_allocation and obj.tenant %}
    <a class="badge badge-info" href="{% url 'unit-detail' obj.id %}">Occupied-Unit detail</a>
    {% elif not obj.confirm_allocation and not obj.tenant%}
    <a class="badge badge-info" href="{% url 'unit-detail' obj.id %}">Vacant-Unit detail</a>
    {% endif %}
   <span class="badge badge-danger">Delete Unit</span>
</div>
<div class="w3-card w3-round-large w3-padding">
  <form method="post">
    {% csrf_token %}
     <h3>Delete Unit</h3></legend>
          <h4>Do you want to delete Unit "{{obj.unit_no}}"?</h4>
          <div class="form-group">
            <button class="btn btn-danger" type="submit" >Confirm Delete</button>
            <a class="btn btn-secondary" href="{% url 'unit-detail' obj.id %}">Cancel</a>
          </div>
  </form>
</div>
{% endblock content %}