{% extends 'landlord/base.html' %}
{% block content %}
<style>
.card {
  background-color: #fffff;
  color: teal;
  font-size: 10;
  padding: 10px 10px 10px 10px
}
h3 {
  color:#191970;
  font-weight: bold;
}
#btn {
    background-color: #159957;
    color: white;
}
#btn:hover {
    color: white;
    transform: scale(1.05);
}

#occupied {
  color: white;
  background-color: #155799;
}

#vacant {
  color: white;
  background-color: red;
}


#addNew {
  color: white;
  background-color: #191970;
}
#addNew:hover {
transform: scale(1.05);
}
</style>

<div class="form-group">
  <a class="badge badge-secondary" href="{% url 'dashboard' %}">Home</a>
   <span class="badge badge-primary">All Units</span>

</div>

  <div class="w3-card w3-round w3-white w3-padding">
    <div class="form-group">
      <h3>All Units</h3>
      <p class="text-muted">To assign unit to a Tenant, go to Vacant Unit list and proceed fromm there..</p>
    </div>

<!--<i class="fas fa-trash-alt"></i>-->
<!--    <i class="fas fa-trash"></i>-->
<!--    <i class="fas fa-fingerprint"></i>-->
<!--    <i class="fas fa-print"></i>-->
<!--    <i class="fas fa-user-edit"></i>-->
<!--    <i class="fas fa-edit"></i>-->
<!--    <i class="fas fa-info-circle"></i>-->
<!--    <i class="fas fa-money-bill-alt"></i>-->
<!--    <i class="fas fa-house-user"></i>-->
<!--    <i class="fas fa-house-damage"></i>-->
<!--    <i class="fas fa-address-book"></i>-->
<!--    <i class="fab fa-searchengin"></i>-->
<!--    <i class="fas fa-search"></i>-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Unit No.</th>
            <th>Type</th>
            <th>Rent(Monthly)</th>
            <th>Building</th>
            <th>Location</th>
            <th>Details</th>
            <th></th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {% for unit in page.object_list %}

          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{unit.unit_no}}</td>
            <td>{{unit.unit_type}}</td>
            <td>{{unit.rent}}</td>
            <td>{{unit.select_apartment}}</td>
            <td>{{unit.select_apartment.county}}, {{unit.select_apartment.location}}</td>

            <td><a class="btn" id="btn" href="{% url 'unit-detail' unit.id %}" role="button"><i class="fas fa-info-circle"></i></a></td>
            <td><a class="btn btn-danger" href="{% url 'delete-unit' unit.id %}"><i class="fas fa-trash-alt"></i></a></td>

              {% if unit.confirm_allocation is False or unit.tenant is None %}
            <td><button class="btn" id="vacant" role="button">vacant <i class="fas fa-users"></i></button></td>

              {% endif %}

              {% if unit.confirm_allocation and unit.tenant %}
                <td><button class="btn" id="occupied" role="button">occupied <i class="fas fa-users"></i></button></td>
              {% endif %}

            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <div class="form-group">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">previous</a>
            </li>

            {% for n in page.paginator.page_range %}
              {% if page.number == n %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span>
                </a>
              </li>
            {% elif n > page.number|add:-3 and n < page.number|add:3 %}
              <li class="page-item">
                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
              </li>
            {% endif %}
          {% endfor %}
            <li class="page-item {% if not next_page_url %} disabled {% endif %}">
              <a class="page-link" href="{{ next_page_url }}">next</a>
            </li>
          </ul>
        </nav>
       </div>
    </div>
    </div>
  </div>

{% endblock content %}
