{% extends 'landlord/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<style>
.card {
  font-size: 10;
  padding: 10px 10px 10px 10px
}
h3, h2 {
  color:#191970;
  font-weight: bold;
}
.btn {
    background-color: #191970;
    color: white;
}
.btn:hover {
    color: white;
    transform: scale(1.05);
}

#viewList {
  color: white;
  background-color: #FA8072;
}
#viewList:hover {
transform: scale(1.05);
}
</style>
<div class="form-group">
  <a class="badge badge-secondary" href="{% url 'dashboard' %}">Home</a>
   <span class="badge badge-danger">Add Unit</span>
</div>

<div class="w3-card w3-round w3-white w3-padding">
  <h2> Vacate Tenant </h2>
  <p class="text-muted">NOTE: If you vacate tenant, the tenant will be permanently deleted from system.</p>
  <form method="POST">
    {% csrf_token %}

      {{ form|crispy }}

    <div class="form-group">
      <button type="submit" class="btn">vacate</button>
      <a class="btn" id="viewList" href="{% url 'list-occupied' %}">cancel</a>
    </div>
  </form>
</div>


{% endblock content %}

