{% extends 'landlord/base.html' %}
{% block content %}
<style>
h3 {
  color: #191970;
  font-weight: bold;
}
</style>
<div class="form-group">
  <a class="badge badge-secondary" href="{% url 'dashboard' %}">Home</a>
   <span class="badge badge-danger">Delete Landlord</span>
</div>
<div class="w3-card w3-round w3-white w3-padding">
  <form method="post">
    {% csrf_token %}
          <h3>Delete Landlord</h3>
          <h4>Do you want to delete Landlord "{{landlord.Full_Name}}"?</h4>
          <div class="form-group">
            <button class="btn btn-danger" type="submit" >Confirm Delete</button>
            <a class="btn btn-secondary" href="{% url 'landlord-list' %}">Cancel</a>
          </div>

  </form>
</div>
{% endblock content %}